@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000{
    animation-delay: 4s;
  }
}

::-webkit-scrollbar{
  display: none;
}

.active {
  color:rgb(176, 97, 255);
}

html{
  scroll-behavior: smooth;
  transition: all 200ms ease;
}

input, textarea {
  width: 100%;
  padding: .75rem;
  background: rgb(24, 24, 27);
  resize: none;
}

.grid-1fr {
  grid-template-columns: auto max-content;
}

.g-recaptcha {
  transform:scale(0.75);
  -webkit-transform:scale(0.75);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  height: 60px;
}

/* Navbarr */
/* 
    lg:flex justify-between font-sans py-0 lg:py-5 text-white items-center
*/